cite {
	color: var(--color-grey-500);
}

blockquote {
	margin: 0 0 var(--spacing-4x);

	p {
		color: var(--color-primary-900);
		font-family: var(--font-family-serif);
		font-size: var(--font-size-xl);
	}

	p:last-of-type {
		margin-bottom: 0;
	}

	cite {
		display: block;
		font-style: normal;
	}
}
