			</main>

			<footer class="site-footer px-2 py-8">
				<div class="mx-auto max-width-xl">
					{% include "components/nav-footer.njk" %}
					{% include "components/footer-credit.njk" %}
				</div>
			</footer>

			{% bundledJs %}
		</div>
	</body>
</html>
