.entry--archive {
	border-bottom: 2px solid var(--color-grey-100);
	margin-bottom: var(--spacing-8x);
	margin-left: auto;
	margin-right: auto;
	max-width: var(--max-width-md);
	padding-bottom: var(--spacing-8x);
}

.entry__byline,
.entry__terms-title {
	color: var(--color-grey-500);
	font-size: var(--font-size-sm);
	letter-spacing: var(--letter-spacing-sm);
	text-transform: uppercase;

	& a {
		color: inherit;
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			color: var(--color-primary-900);
			text-decoration: underline;
		}
	}
}

.entry__summary :last-child {
	margin-bottom: 0;
}

.entry__footer {
	margin-top: var(--spacing-4x);
}

.entry__terms-item {
	margin-right: var(--spacing-2x);
	margin-top: var(--spacing-2x);
}

.entry__terms-anchor {
	background-color: var(--color-grey-200);
	border-radius: 2px;
	color: var(--color-grey-900);
	padding: var(--spacing-sm) var(--spacing-2x);

	&:hover,
	&:focus,
	&:active {
		background-color: var(--color-grey-700);
		color: var(--color-white);
	}

	&:focus {
		outline-offset: -2px;
	}
}
