.site-footer::before {
	border-bottom: var(--spacing-sm) solid var(--color-primary);
	content: "";
	display: block;
	margin: 0 auto var(--spacing-8x);
	transform: rotate(-5deg);
	width: calc(var(--spacing-2x) * 5);
}
