.site-header__wrapper {
	@media (--screen-md) {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.site-header__branding {
	text-align: center;

	@media (--screen-md) {
		text-align: left;
	}
}
