.alignleft {
	@media (--screen-md) {
		float: left;
		margin-bottom: var(--spacing-3x);
		margin-left: calc(50% - var(--max-width-md) / 2);
		margin-right: var(--spacing-3x);
		max-width: 50%;
	}
}

.alignright {
	@media (--screen-md) {
		float: right;
		margin-bottom: var(--spacing-3x);
		margin-left: var(--spacing-3x);
		margin-right: calc(50% - var(--max-width-md) / 2);
		max-width: 50%;
	}
}

.aligncenter {
	@mixin center-block;
	clear: both;
}

.alignwide {
	max-width: var(--max-width-xl);
}

.alignfull {
	margin-left: calc(var(--spacing-2x) * -1);
	margin-right: calc(var(--spacing-2x) * -1);
	max-width: none;
}
