.decoration-none {
	text-decoration: none;
}

.h-decoration-underline {

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}

.font-serif {
	font-family: var(--font-family-serif);
}

.font-sans {
	font-family: var(--font-family-sans);
}

.fw-500 {
	font-weight: 500;
}

.fw-700 {
	font-weight: 700;
}

.font-size-md {
	font-size: var(--font-size-md);
}

.color-grey-100 {
	color: var(--color-grey-100);
}

.color-grey-700 {
	color: var(--color-grey-700);
}

.text-center {
	text-align: center;
}

.block {
	display: block;
}

.reset-list {
	@mixin reset-list;
}

.underline-link {
	border-bottom: 2px solid;
	display: inline-block;
	text-decoration: none;
}

.flex {
	display: flex;
}
