.mb-0 {
	margin-bottom: 0;
}

.mb-2 {
	margin-bottom: var(--spacing-2x);
}

.mb-4 {
	margin-bottom: var(--spacing-4x);
}

.mt-0 {
	margin-top: 0;
}

.mt-sm {
	margin-top: var(--spacing-2x);
}

.mt-md {
	margin-top: var(--spacing-4x);
}

.mt-lg {
	margin-top: var(--spacing-6x);
}

.mt-xl {
	margin-top: var(--spacing-8x);
}

.pb-2 {
	padding-bottom: var(--spacing-2x);
}

.pb-4 {
	padding-bottom: var(--spacing-4x);
}

.pb-8 {
	padding-bottom: var(--spacing-8x);
}

.py-4 {
	padding-bottom: var(--spacing-4x);
	padding-top: var(--spacing-4x);
}

.py-6 {
	padding-bottom: var(--spacing-6x);
	padding-top: var(--spacing-6x);
}

.py-8 {
	padding-bottom: var(--spacing-8x);
	padding-top: var(--spacing-8x);
}
