---
pagination:
  data: tags
  size: 1
permalink: "/tag/{{ tags[pagination.pageNumber].slug }}/index.html"
---

{% extends "layouts/archive.njk" %}

{% set title = tags[pagination.pageNumber].name %}

{% set allArticles = posts | postsByTagId(tags[pagination.pageNumber].id) %}

{% block content %}
	{% include "components/entry-archive.njk" %}
{% endblock %}
