---
pagination:
  data: docs
  size: 1
  alias: doc
permalink: "{{ doc.link | urlPath }}/index.html"
---

{% extends "layouts/base.njk" %}

{% set title = doc.title.rendered %}
{% set id = doc.id %}

{% block pageTitle %}
	<h1 class="entry__title">{{ title | safe }}</h1>
{% endblock %}

{% block content %}
	{{ doc.content.rendered | safe }}
{% endblock %}
