.wp-block-columns {
	.wp-block-column {
		margin: 0;
		width: auto;

		:last-child {
			margin-bottom: 0;
		}
	}

	@supports (grid-area: auto) {
		display: grid;
		grid-gap: var(--spacing-7x);
		grid-template-columns: 1fr;

		@media (--screen-md) {
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

			&.are-vertically-aligned-top {
				align-items: flex-start;
			}

			&.are-vertically-aligned-center {
				align-items: center;
			}

			&.are-vertically-aligned-bottom {
				align-items: flex-end;
			}

			&.has-2col-1col {
				& .wp-block-column:first-child {
					grid-column: span 2;
				}

				& .wp-block-column:nth-child(2) {
					grid-column: span 1;
				}
			}
		}
	}
}

.is-style-columns-card {

	.wp-block-column {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		min-height: var(--spacing-2x);

		& > * {
			margin-bottom: var(--spacing-2x);
			margin-top: 0;
		}

		& > p {
			margin-bottom: var(--spacing-4x);
		}

		& > :last-child {
			margin-top: auto;
		}
	}

	h2 a,
	h3 a {
		text-decoration: none;
	}
}
