.wp-block-group.is-style-diamond {
	height: calc(var(--spacing-2x) * 18);
	margin-left: auto;
	margin-right: auto;
	margin-top: var(--spacing-6x);
	transform: rotate(45deg);
	width: calc(var(--spacing-2x) * 18);

	& .wp-block-group__inner-container {
		transform: rotate(-45deg);
	}
}

.is-style-inline .wp-block-group__inner-container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;

	& > * {
		margin-left: unset;
		margin-right: unset;
		margin-top: unset;
		max-width: none;
	}

	& > :first-child {
		margin-right: var(--spacing-7x);
	}
}
