.has-drop-cap:not(:focus) {
	&::first-letter {
		float: left;
		font-family: serif;
		font-size: var(--font-size-3xl);
		font-style: normal;
		font-weight: 600;
		margin-right: var(--spacing-2x);
		text-transform: uppercase;
	}
}

.is-style-ingress,
.is-style-ingress.wp-block-paragraph {
	color: var(--color-grey-500);
	font-size: var(--font-size-xl);
}

.is-style-highlight,
.is-style-highlight.wp-block-paragraph {
	font-family: var(--font-family-serif);
	font-size: var(--font-size-4xl);
	line-height: var(--line-height-sm);
}
