.wp-block-quote {
	position: relative;
}

.wp-block-quote p {
	background-color: var(--color-grey-100);
	border-bottom-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	font-style: italic;
	padding: var(--spacing-6x) var(--spacing-4x);
	position: relative;

	&::after {
		border-color: var(--color-grey-100) transparent;
		border-style: solid;
		border-width: var(--spacing-2x) var(--spacing-2x) 0;
		bottom: calc(var(--spacing-2x) * -1);
		content: "";
		display: block;
		left: var(--spacing-5x);
		position: absolute;
		width: 0;
	}
}

.wp-block-quote cite {
	font-size: inherit;
	margin-top: var(--spacing-3x);
}

.wp-block-quote .svg {
	color: var(--color-primary);
	height: 2em;
	position: absolute;
	right: var(--spacing-5x);
	top: -1em;
	width: 2em;
}

.wp-block-quote.is-style-large p {
	font-size: var(--font-size-2xl);
}
