/**
 * Blocks stylesheet for the theme.
 *
 * This is for the editor.
 */

/*--------------------------------------------------------------
# Settings - Global variables, config switches.
--------------------------------------------------------------*/
@import "settings/media-queries.css"; /* Needs to come first, others are using it. */
@import "settings/colors.css";
@import "settings/fonts.css";
@import "settings/spacing.css";
@import "settings/transitions.css";
@import "settings/typography.css";
@import "settings/widths.css";


/*--------------------------------------------------------------
# Tools - Default mixins and functions.
--------------------------------------------------------------*/
@import "tools/mixins.css";


/*--------------------------------------------------------------
# Generic - Ground-zero styles (resets, box-sizing, etc.).
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Elements - Unclassed HTML elements (type selectors).
--------------------------------------------------------------*/
@import "elements/blockquote.css";
@import "elements/buttons.css";
@import "elements/forms.css";
@import "elements/headings.css";
@import "elements/hr.css";
@import "elements/links.css";
@import "elements/lists.css";
@import "elements/media.css";
@import "elements/misc.css";
@import "elements/paragraph.css";
@import "elements/pre-code.css";
@import "elements/tables.css";


/*--------------------------------------------------------------
# Objects - Undecorated design patterns.
--------------------------------------------------------------*/
@import "objects/animations.css";
@import "objects/flow-spacing.css";
@import "objects/icons.css";
@import "objects/layouts.css";
@import "objects/max-widths.css";
@import "objects/wrappers.css";


/*--------------------------------------------------------------
# Blocks - WordPress block specific UI components.
--------------------------------------------------------------*/
@import "blocks/core/audio.css";
@import "blocks/core/button.css";
@import "blocks/core/columns.css";
@import "blocks/core/cover.css";
@import "blocks/core/embeds.css";
@import "blocks/core/file.css";
@import "blocks/core/gallery.css";
@import "blocks/core/group.css";
@import "blocks/core/image.css";
@import "blocks/core/latest-comments.css";
@import "blocks/core/latest-posts.css";
@import "blocks/core/media-text.css";
@import "blocks/core/paragraph.css";
@import "blocks/core/pullquote.css";
@import "blocks/core/quote.css";
@import "blocks/core/search.css";
@import "blocks/core/separator.css";
@import "blocks/core/social-links.css";
@import "blocks/core/table.css";


/*--------------------------------------------------------------
# Components - specific UI components.
--------------------------------------------------------------*/
@import "components/entry.css";
@import "components/galleries.css";
@import "components/latest-posts.css";
@import "components/media.css";
@import "components/pagination.css";
@import "components/search.css";
@import "components/terms.css";


/*--------------------------------------------------------------
# Utilities - Helpers and overrides.
--------------------------------------------------------------*/
@import "utilities/alignments.css";
@import "utilities/color-palette.css";
@import "utilities/font-sizes.css";
@import "utilities/helpers.css";
@import "utilities/prefers-reduced-motion.css";
@import "utilities/spacing.css";
@import "utilities/text.css";
@import "utilities/wp-legacy.css";


/*--------------------------------------------------------------
# Editor related styles which overwrites above styles.
--------------------------------------------------------------*/

/**
 * Acts like a body of the editor.
 * Give more specifity to overwrite Core style.
 */
.edit-post-visual-editor.editor-styles-wrapper {
	@mixin typography;
}

/* Post title. */
.editor-post-title__block .editor-post-title__input {
	color: var(--color-primary-900);
	font-family: var(--font-family-serif);
	font-size: var(--font-size-3xl);
	min-height: auto;
	text-align: center;
}

/* Paragraph needs more specifity. */
.wp-block-paragraph {
	font-size: var(--font-size-lg);
}

/* Main column width. */
.wp-block {
	max-width: var(--max-width-md);
}

/* Width of "wide" blocks. */
.wp-block[data-align="wide"] {
	max-width: var(--max-width-lg);
}

/* Width of "full-wide" blocks. */
.wp-block[data-align="full"] {
	max-width: none;
}

/* For now we need this for overwriting Core line-height.
 * Note that headings line-height is overwritten in elements/headings.css.
 */
.editor-rich-text__tinymce:not(.wp-block-cover-text):not(.wp-block-subhead):not(h2):not(h3) {
	line-height: var(--line-height-md);
}

/* Search styles. */
.wp-block-search__input {
	font-family: inherit;
	font-size: inherit;
}

.wp-block-search__label {
	font-weight: 700;
}

.wp-block-search__button {
	@mixin button-block;
	@mixin global-transition;

	&:hover,
	&:active,
	&:focus {
		@mixin button-block-hover;
	}

	&:focus {
		@mixin global-focus-styles;
	}

	display: inline-block;
	font-family: inherit;
	font-size: inherit;
}

.wp-block-search__button .wp-block-search__button-rich-text {
	padding: 0;
}

/* Code. */
.wp-block-code textarea {
	background-color: inherit;
	color: inherit;
	font-size: inherit;
}
