.entry__content {
	--flow-space: var(--spacing-4x);
}

.entry__content > * + *,
.wp-block-group__inner-container > * + *,
.wp-block-cover__inner-container > * + *,
.wp-block-column > * + * {
	margin-bottom: 0;
	margin-top: var(--flow-space);
}

.entry__content > :first-child,
.wp-block-group__inner-container > :first-child,
.wp-block-cover__inner-container > :first-child,
.wp-block-column > :first-child {
	margin-bottom: 0;
}

.entry__content > h2,
.entry__content > h3 {
	--flow-space: calc(var(--spacing-4x) * 2);
}

.entry__content > h2 + p,
.entry__content > h3 + p,
.entry__content > h4 + p,
.entry__content > h5 + p,
.entry__content > h6 + p {
	--flow-space: var(--spacing-3x);
}
