@media (--screen-md) {

	@supports (grid-area: auto) {

		.grid {
			display: grid;
			grid-gap: var(--spacing-7x);
			grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
		}

	}
}

.page-template-entry-no-header .app-main {
	padding-top: 0;
}
