---
title: Page not found
layout: base
permalink: 404.html
---

{% block pageTitle %}
	<h1 class="entry__title">{{ title | safe }}</h1>
{% endblock %}

{% block content %}
	<p>Oh bollocks, this page could not be found. Maybe try again or go to <a href="{{ "/" | url }}">home page</a>.</p>
{% endblock %}
