---
title: Page not found
layout: layouts/page.njk
permalink: 404.html
---

{% block content %}
	<p>Oh bollocks, this page could not be found. Maybe try again or go to <a href="{{ "/" | url }}">home page</a>.</p>
{% endblock %}
