---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{%- for post in posts %}
		{% set absoluteUrl %}{{site.url}}/{{ post.slug }}{% endset %}
		{% set postDate = post.date | htmlDateString %}
		<url>
			<loc>{{ absoluteUrl }}</loc>
			<lastmod>{{ postDate }}</lastmod>
		</url>
	{%- endfor %}
</urlset>
